@{
    ViewData["Title"] = "Home Page";
}

<br />
<a href="https://accounts.google.com/o/oauth2/v2/auth?scope=email profile openid&response_type=code id_token&response_mode=form_post&nonce=63750095194186&state=1234&redirect_uri=http://localhost/SSOTest/Home/GoogleLogin&client_id=305992704922-if366t9r9bn5na5r12bi6kl3h14slam0.apps.googleusercontent.com">Google Login</a>
<br />

@*<div>
    <a asp-controller="Home" asp-action="InitiateLogOut">Google Logout</a>
</div>*@
